<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QYClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QYClient.Properties.Settings>
            <setting name="NotifyServerPort" serializeAs="String">
                <value>3001</value>
            </setting>
            <setting name="RemomeUri" serializeAs="String">
                <value>tcp://10.21.50.8:9090/IQYCommands</value>
            </setting>
            <setting name="NotifyServerIP" serializeAs="String">
                <value>10.21.50.8</value>
            </setting>
        </QYClient.Properties.Settings>
    </userSettings>
</configuration>