<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.2.3600.0" newVersion="10.2.3600.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.2.3600.0" newVersion="10.2.3600.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IBM.Data.DB2" publicKeyToken="7C307B91AA13D208" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.2" newVersion="9.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Enterprise.InfoStore" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Enterprise.Framework" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.5.3700.0" newVersion="10.5.3700.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>