<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="timccexchg.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <timccexchg.Settings1>
            <setting name="OneMinVDCurrPath" serializeAs="String">
                <value>c:\current</value>
            </setting>
            <setting name="OneMinVDHistPath" serializeAs="String">
                <value>c:\current\hist\vd1min</value>
            </setting>
            <setting name="FiveMinVDCurrPath" serializeAs="String">
                <value>c:\current</value>
            </setting>
            <setting name="FiveMinVDHistPath" serializeAs="String">
                <value>c:\current\hist\vd5min</value>
            </setting>
            <setting name="dbConnectStr" serializeAs="String">
                <value>Database=TCS;UserID=db2inst1;Password=db2inst1;Server=10.21.50.31:50000</value>
            </setting>
            <setting name="EpConfCurrPath" serializeAs="String">
                <value>c:\current</value>
            </setting>
            <setting name="SecDataCurrPath" serializeAs="String">
                <value>c:\current</value>
            </setting>
            <setting name="SecDataHistPath" serializeAs="String">
                <value>c:\current\hist\secdata</value>
            </setting>
            <setting name="CommCurrPath" serializeAs="String">
                <value>c:\current</value>
            </setting>
            <setting name="OneHourVDHistPath" serializeAs="String">
                <value>c:\current\hist\vd1hour</value>
            </setting>
            <setting name="OneDayVDHistPath" serializeAs="String">
                <value>c:\current\hist\vd1day</value>
            </setting>
            <setting name="FiveMinRDHistPath" serializeAs="String">
                <value>c:\current\hist\rd5min</value>
            </setting>
            <setting name="TenMinWDHistPath" serializeAs="String">
                <value>c:\current\hist\wd10min</value>
            </setting>
            <setting name="FiveMinVIHistPath" serializeAs="String">
                <value>c:\current\hist\vi5min</value>
            </setting>
            <setting name="OneMinAVIPlateHistPath" serializeAs="String">
                <value>c:\current\hist\aviplate1min</value>
            </setting>
            <setting name="OneMinAVISectionHistPath" serializeAs="String">
                <value>c:\current\hist\avisec1min</value>
            </setting>
            <setting name="OneDayVDUnUseHistPath" serializeAs="String">
                <value>c:\current\hist\vd_usable_rate_data_1day</value>
            </setting>
            <setting name="OneDayRampTrafficDataHistPath" serializeAs="String">
                <value>c:\current\hist\ramp_traffic_data_1day</value>
            </setting>
            <setting name="OneHourRampTrafficDataHistPath" serializeAs="String">
                <value>c:\current\hist\ramp_traffic_data_1hour</value>
            </setting>
            <setting name="OneMinSectionVDHistPath" serializeAs="String">
                <value>c:\current\hist\secvd1min</value>
            </setting>
            <setting name="OneMinVDMiaoLiHistPath" serializeAs="String">
                <value>c:\current\hist\miaoli\vd1min</value>
            </setting>
            <setting name="OneMinSectionMiaoLiHistPath" serializeAs="String">
                <value>c:\current\hist\miaoli\sec1min</value>
            </setting>
            <setting name="OneMinCMSMiaoLiHistPath" serializeAs="String">
                <value>c:\current\hist\miaoli\cms1min</value>
            </setting>
            <setting name="OneMinRspPlanDataHistPath" serializeAs="String">
                <value>c:\current\hist\rsp_plan_data_1min</value>
            </setting>
        </timccexchg.Settings1>
    </userSettings>
</configuration>