<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QYTask.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="QYSerevr.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QYTask.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <QYTask.Settings1>
            <setting name="TIMC_uri_bak" serializeAs="String">
                <value>http://192.168.4.4/section_traffic_data.xml</value>
            </setting>
            <setting name="TIMCC_uri" serializeAs="String">
                <value>http://192.168.4.4/section_traffic_data.xml</value>
            </setting>
            <setting name="TIMCC_uri_bak1" serializeAs="String">
                <value>file:///home/fortech/Server/section_traffic_data.xml</value>
            </setting>
        </QYTask.Settings1>
        <QYSerevr.Settings1>
            <setting name="TIMCC_uri_bak1" serializeAs="String">
                <value>section_traffic_data.xml</value>
            </setting>
        </QYSerevr.Settings1>
    
    </applicationSettings>
    <userSettings>
        <QYTask.Settings1>
            <setting name="TIMCC_uri_bak2" serializeAs="String">
                <value>file:///D:/backd\中部高速公路中心/Center/QYTask/QYSerevr/section_traffic_data.xml</value>
            </setting>
        </QYTask.Settings1>
    </userSettings>
</configuration>